body {
background: #BDBDBD;
background: -webkit-linear-gradient(bottom, #BDBDBD, #F0F0F0);
background: -moz-linear-gradient(bottom, #BDBDBD, #F0F0F0);
background: linear-gradient(to top, #BDBDBD, #F0F0F0);

}
